/*
=====================
== Molham Al-khodari 
=====================
*/

body {
    margin-top: 0px;
}


/* Veganer land logo */

.page-header,
.page-header h1 {
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* page */

article,
.page-title {
    margin: 2em 10%;
    line-height: 1.5em;
    border-bottom: 1px solid #ccc;
}


/* Team */

.column {
    width: 33.3%;
    float: left;
    margin-bottom: 16px;
    padding: 0 8px;
    background-color: #fcfbe377;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.card img {
    height: 200px;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}


/*
===========
 == navbar 
===========
*/

.menu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
}

.menu-bottom ul,
.menu-bottom li,
.menu-bottom a {
    height: 80px;
}

.menu-bottom ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 20%;
}

.menu-bottom li {
    flex: 1;
    float: left;
    width: auto;
}

.menu-bottom a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2em 1em 1em 1em;
    color: #fff;
    text-shadow: 2px 1px 0 #000000;
}

.menu-bottom a.logo {
    padding-top: 1.3em;
}

.menu-bottom a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.list-group {
    margin-top: 7px;
}


/* documentation */

.documentation a {
    color: black;
    font-weight: 300px;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    width: auto;
    height: auto;
}

.documentation a:hover {
    background-color: pink;
}

@media only screen and (max-width: 850px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .menu-item {
        padding: 10px;
        margin: -20px;
        display: block;
    }
}