/*
======================
== Molham Al-khodari
======================
*/


/* table */

.table-cart {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-cart th {
    text-align: left;
    background-color: white;
}

.table-cart td {
    background-color: rgba(255, 255, 255, 0.445);
}

.table-cart th,
.table-cart tr {
    border: 1px solid black;
    border-collapse: collapse;
}


/* start the other from */

.form-group {
    display: inline-block;
    padding: 5px;
}

.field-set {
    display: table-caption;
}