/* 
 ====================
 == Molham Al-khodari 
 ====================
 */

* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0px;
}


/* Start form  attributes */

.login-form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(24, 26%, 4%, 0.548);
    padding: 2%;
    background-image: linear-gradient(-225deg, #90e27500 50%, #90e275 50%);
}


/* form Container */

form .container {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* the header form form */

.head-form {
    margin: 2% auto 10% auto;
    text-align: center;
}


/* Login title form form */

.head-form h2 {
    font-size: 250%;
    color: #3e403f;
}


/* inputs form */

input[class="form-input"] {
    width: 240px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}


/* focus */

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


/* buttons */

button {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.other {
    display: flex;
    width: 75%;
}


/* Submits */

.submits {
    margin-left: 13%;
    background: #B8F2E6;
}


/* buttons hover */

button:hover {
    transform: translatey(3px);
    box-shadow: none;
    animation: ani9 0.4s ease-in-out infinite alternate;
}

.other a {
    color: black;
    text-decoration: none;
}