nav {
    background: #222;
    padding: 5px 20px;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: black;
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}


/* search */

.search {
    display: inline-block;
    color: #252537;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
}

form.search input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search button {
    float: left;
    width: 20%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}


/*
**********************************
** dropdown list style
**********************************
*/

.menu li.item.button {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #AE3C58;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#check {
    display: none;
}


/* Mobile menu */

@media (max-width: 850px) {
    .checkbtn {
        order: 1;
    }
    .item.button {
        order: 2;
    }
    .item {
        width: 100%;
        text-align: center;
        order: 3;
        display: block;
    }
    .item.active {
        display: block;
    }
    /* Navbar Toggle */
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        margin-right: 40px;
        cursor: pointer;
    }
    #check:checked~.menu .item {
        display: block;
    }
    #check~.menu .item {
        display: none;
    }
}


/* Tablet menu */

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .checkbtn {
        order: 2;
        display: block;
    }
    #ckeck {
        display: none;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: rgb(128, 0, 0);
        border: 1px #006d6d solid;
        border-radius: 50em;
        font-weight: bold;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
        transition: all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}


/* Desktop menu */

@media all and (min-width: 935px) {
    .checkbtn {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
}