/* 
***************************
** Molham Al-khodari 
***************************
*/


/* Start form  attributes */

.login-form {
    width: 600px;
}


/* buttons */

button,
.gender {
    display: inline-block;
    color: #252537;
    width: 375px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.gender {
    margin: 5px;
    border: 3px solid transparent;
    background: #fff;
    padding: 0 20px;
    margin-block-end: auto;
    height: 25px;
}