    /* Start Global rules */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* End Global rules */
    /* Start body rules */
    
    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Vibur', cursive;
        /*   the main font */
        font-family: 'Abel', sans-serif;
        opacity: .95;
        background-image: linear-gradient(to top, #90e275 0%, #4f976b 100%);
    }
    /* End body rules */
    /* Start form  attributes */
    
    form {
        width: 600px;
        min-height: 500px;
        height: auto;
        border-radius: 5px;
        margin: 2% auto;
        box-shadow: 0 9px 50px hsla(24, 26%, 4%, 0.548);
        padding: 2%;
        /* background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%); */
    }
    /* form Container */
    
    form .con {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    /* the header form form */
    
    header {
        margin: 2% auto 10% auto;
        text-align: center;
    }
    /* Login title form form */
    
    header h2 {
        font-size: 250%;
        font-family: Arial, Helvetica, sans-serif;
        color: #3e403f;
    }
    /*  A welcome message or an explanation of the login form */
    
    header p {
        letter-spacing: 0.05em;
    }
    /* .input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
} */
    /* inputs form  */
    
    input[class="form-input"] {
        width: 250px;
        height: 25px;
        margin-top: 2%;
        padding: 15px;
        font-size: 16px;
        font-family: 'Abel', sans-serif;
        color: #5E6472;
        outline: none;
        border: none;
        border-radius: 0px 5px 5px 0px;
        transition: 0.2s linear;
    }
    /* focus  */
    
    input:focus {
        transform: translateX(-2px);
        border-radius: 5px;
    }
    /* buttons  */
    
    button,
    .gender {
        display: inline-block;
        color: #252537;
        width: 375px;
        height: 50px;
        padding: 0 20px;
        background: #fff;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        text-align: center;
        transition: all 0.2s linear;
        margin: 7% auto;
        letter-spacing: 0.05em;
    }
    /* Submits */
    
    .submits {
        width: 48%;
        display: inline-block;
        float: left;
        margin-left: 2%;
    }
    /* Forgot Password button FAF3DD  */
    
    .frgt-pass {
        background: transparent;
        margin-top: auto;
    }
    /* Sign Up button  */
    
    .sign-up {
        background: #B8F2E6;
    }
    /* buttons hover */
    
    button:hover {
        transform: translatey(3px);
        box-shadow: none;
    }
    /* buttons hover Animation */
    
    button:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }
    
    a {
        color: block;
        text-decoration: none;
    }
    /* On mouse-over, add a grey background color */
    
    .gender {
        margin: 5px;
        border: 3px solid transparent;
        background: #fff;
        padding: 0 20px;
        margin-block-end: auto;
        height: 25px;
    }