body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    /*   the main font */
    font-family: 'Abel', sans-serif;
    opacity: .95;
    background-image: linear-gradient(to top, #90e275 0%, #4f976b 100%);
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
}

.error center {
    margin: 5%;
    padding: 10px;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
    background: #ff9d9d;
}

.group {}

.label {}

.input {}

.save {}