/* Molham Al-khodari */


/* block */

.con {
    display: flex;
    margin-top: 50px;
    margin-bottom: 75px;
}


/* left block */

.from-horizonta {
    width: 600px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(24, 26%, 4%, 0.548);
    padding: 2%;
    background-image: linear-gradient(-225deg, #90e27500 50%, #90e275 50%);
    width: 50%;
}


/* right block */

.favorit-list {
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(24, 26%, 4%, 0.548);
    padding: 2%;
    background-image: linear-gradient(-225deg, #90e27500 50%, #90e275 50%);
    width: 20%;
}


/* table style for the right block */

.table-favorit {
    width: 100%;
}

.table-favorit th {
    text-align: left;
    background-color: white;
}

.table-favorit td {
    background-color: rgba(255, 255, 255, 0.445);
}

.table-favorit,
.table-favorit th,
.table-favorit tr {
    border: 1px solid black;
    border-collapse: collapse;
}


/* the header form form */

.head-form {
    margin: 2% auto 10% auto;
    text-align: center;
}


/* Login title form form */

.head-form h2 {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    color: #3e403f;
}


/*  A welcome message or an explanation of the login form */

.head-form p {
    letter-spacing: 0.05em;
}


/* inputs form  */

input[class="form-input"] {
    width: 250px;
    height: 25px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    display: table;
    margin: auto;
}


/* focus  */

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


/* buttons hover Animation */

.save {
    background: #B8F2E6;
    color: black;
    display: inline-block;
    color: #252537;
    width: 375px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}


/* buttons hover */

button:hover {
    transform: translatey(3px);
    box-shadow: none;
    animation: ani9 0.4s ease-in-out infinite alternate;
}

.form-group {
    display: inline-block;
}
