/* 
***************************
** Molham Al-khodari 
***************************
*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #90e275 0%, #4f976b 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    margin-top: 100px;
    border: 0px;
    box-sizing: border-box;
}


/* alert messages success, info and danger */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    display: block;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    display: block;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    display: block;
}


/* scroll funktion */

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


/* add responsive media quaries  */

@media screen and (max-width: 1200px) {
    .column {
        width: 40%;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 40%;
        display: block;
    }
}