<!--//@author Molham Al-khodari
    //@version 1.0.0 
    //16.12.2020
    -->


<!Doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/styles/aboutStyle.css">
</head>

<body>
    <div class="about-section">
        <h1>Veganer Land</h1>
        <p>About Us Page</p>
    </div>

    <h2 style="text-align:center">Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="#" alt="Molham" style="width:100%">
                <div class="container">
                    <h2>Molham Al-khodari</h2>
                    <p class="title">Geschäftsführer und Gründer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>molhamalkhodari@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="#" alt="jesse" style="width:100%">
                <div class="container">
                    <h2>jesse Müller</h2>
                    <p class="title">Künstlerischer Leiter</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jesse@hotmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="#" alt="Mo" style="width:100%">
                <div class="container">
                    <h2>Mo Salah</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>salah@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
    <!-- code for the menu -->

    <nav class="mvp-menu-bottom">
        <ul>
            <li>
                <a href="homepage.php" class="logo" accesskey="h">
                    <img src="../../assets/images/logo.png" alt="logo" width="50px" height="50px" />
                </a>
            </li>
            <li>
                <a href="#dashboard" accesskey="1">
                    <span class="icon icon-dashboard">&nbsp;</span> Dashboard
                </a>
            </li>
            <li>
                <a href="#content" accesskey="2" class="active">
                    <span class="icon icon-align-justify">&nbsp;</span> Content
                </a>
            </li>
            <li>
                <a href="#email" accesskey="3">
                    <span class="icon icon-envelope">&nbsp;</span> E-Mail
                </a>
            </li>
            <li>
                <a href="#analytics" accesskey="4">
                    <span class="icon icon-bar-chart">&nbsp;</span> Analytics
                </a>
            </li>
            <li>
                <a href="#support" accesskey="5">
                    <span class="icon icon-question-sign">&nbsp;</span> Support
                </a>
            </li>
            <li>
                <a href="#impressum" accesskey="6">
                    <span class="icon icon-briefcase">&nbsp;</span> Impressum
                </a>
            </li>
        </ul>
    </nav>

    <!-- only sample content following. not needed. -->

    <h1>Sticky Responsive Bottom Menu</h1>

    <article id="dashboard">
        <h2>Dashboard</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis vitae magna vel varius. Curabitur mi nulla, feugiat commodo odio vehicula, laoreet facilisis orci. Curabitur fermentum eros at ipsum facilisis imperdiet. Donec vitae facilisis metus,
            eget sagittis massa. Sed sit amet leo eget neque consectetur ornare gravida vel nisl. Duis sodales mi sed ante sagittis mattis. Donec ut pretium lacus, in bibendum mauris. Nullam nec massa ut justo tincidunt pretium a id odio. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit.
        </p>
    </article>

    <article id="content">
        <h2>Content</h2>
        <p>
            Donec dapibus sapien quis erat pretium sodales. Donec tincidunt justo arcu, nec mollis nunc venenatis ut. Aenean gravida tempus elit non hendrerit. Sed at ultricies dolor. Donec sed mauris urna. Mauris lectus lorem, pulvinar at lacinia eget, vestibulum
            quis turpis. Quisque commodo, mi sit amet ultricies sagittis, diam est eleifend neque, eget aliquam lacus sem vitae dolor. Cras sit amet fermentum odio. Aliquam scelerisque enim odio, non gravida massa scelerisque quis.
        </p>
    </article>

    <article id="email">
        <h2>E-Mail</h2>
        <p>
            Praesent non lectus sit amet justo vestibulum eleifend. Suspendisse potenti. Ut pulvinar feugiat odio congue pharetra. Curabitur varius bibendum quam sit amet mattis. Duis cursus euismod neque in facilisis. Ut ut adipiscing nulla. Proin varius, tellus
            sit amet ornare convallis, leo magna rhoncus magna, vel dignissim nulla purus id dolor. Donec consequat consequat tellus, sed faucibus odio imperdiet in. Aenean sagittis lacinia sapien, id fringilla arcu dignissim ut. Vestibulum elementum
            lorem in erat facilisis, vitae luctus tellus fringilla. Quisque non diam in ipsum convallis viverra at quis dui. Sed nisl tellus, bibendum vitae commodo vel, tristique vel velit. Integer a nunc in quam pulvinar euismod.
        </p>
    </article>

    <article id="analytics">
        <h2>Analytics</h2>
        <p>
            Aenean pellentesque aliquet nibh eu molestie. Vivamus sit amet dignissim nunc. Integer tempor metus sit amet elementum interdum. Nunc pellentesque, odio non ornare sagittis, tellus dolor commodo sapien, non laoreet magna nunc in libero. Aliquam dictum
            augue congue aliquam dictum. Donec eget purus elit. Phasellus metus nibh, aliquet sit amet dapibus non, vulputate et ipsum. In eget fermentum tellus. Nunc enim justo, consectetur eget euismod eu, consequat pulvinar nulla. Aenean in sem vitae
            nulla vehicula scelerisque. Sed ut auctor lorem. Ut non tristique nisi. Nulla vitae neque a nisi facilisis aliquam vel in nisl. Donec blandit pulvinar ligula quis vestibulum. Proin at rutrum augue. Aliquam sit amet porttitor tortor.
        </p>
    </article>

    <article id="support">
        <h2>Support</h2>
        <p>
            Donec dapibus sapien quis erat pretium sodales. Donec tincidunt justo arcu, nec mollis nunc venenatis ut. Aenean gravida tempus elit non hendrerit. Sed at ultricies dolor. Donec sed mauris urna. Mauris lectus lorem, pulvinar at lacinia eget, vestibulum
            quis turpis. Quisque commodo, mi sit amet ultricies sagittis, diam est eleifend neque, eget aliquam lacus sem vitae dolor. Cras sit amet fermentum odio. Aliquam scelerisque enim odio, non gravida massa scelerisque quis
        </p>
    </article>

    <article id="impressum">
        <h2>Impressum</h2>
        <p>
            Donec ultricies orci diam, vel mattis ante tempor et. Vestibulum sit amet leo vitae nisi mollis dignissim sed non lacus. Morbi ac feugiat felis, sit amet consectetur lectus. In egestas, nisl vel elementum bibendum, lorem metus pretium elit, ac volutpat
            turpis quam at massa. Etiam rutrum dictum augue vel pulvinar. Maecenas tellus lectus, ultrices eu quam sit amet, ultricies bibendum mauris. Curabitur tincidunt orci odio. Nunc volutpat, nibh faucibus ultrices dictum, ante nulla condimentum
            libero, ac venenatis libero ligula nec leo. Integer bibendum magna et consectetur commodo. Donec lectus ipsum, tempor at arcu eu, blandit ultrices odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Pellentesque fringilla urna nec velit pellentesque, et lobortis orci pulvinar.
        </p>
    </article>

</body>
